*{
    bg: #24273a;
    bg-alt: #181926;
    bg-selected: @bg-alt;

    fg: #cad3f5;
    fg-alt: #a5adcb;
    fg-selected: @fg;
    

    background-color: @bg;

    border: 0;
    margin: 2;
    padding: 0;
    spacing: 2;
}
